.individual_inteiro {
    display: flex;
    grid-template-columns: 20% 80%;
    height: 100vh;
    background:radial-gradient(at 71.23868271756542% 64.02136035063948%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 70.31866964539668% 72.53587536283219%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 93.15579023466466% 88.00370981129258%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 1) 0%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 0) 100%), radial-gradient(at 44.415468078050814% 82.12011607008677%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 7.48099369139873% 25.302918707535238%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 91.91144252987132% 11.806729671508187%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 27.66249298185889% 3.065116008157287%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 20.878413812473575% 81.10919231188062%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 1) 0%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 0) 100%), radial-gradient(at 20.206140506923177% 9.431990233985887%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 94.81760190514615% 47.07790937072207%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 13.991316714400725% 62.436736081663334%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 26.67357056016413% 27.45124562355511%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%);;
}

.individual_esquerda {
    padding: 20px;
    color: var(--cor-branco);
    text-align: center;
}

.dados_imagem {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.dados_nome {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    padding: 10px 0;
}

.individual_direita {
    color: var(--cor-branco);
    display: flex;
}

.historia_personagem {
    
}

.texto {
    font-family: var(---fonte-texto);
    font-size: var(--tamanho-texto);
    padding: 20px 30px;
}