.h_inicial {
    background-image: url(https://external-preview.redd.it/firelink-shrine-painting-dont-know-if-repost-v0-wUJzWalfHOsftWjnR2Mb2kVFZo0S73ROitBksTp9LsU.jpg?auto=webp&s=b017cb5693ee00555e0c0f741460e094c05b4213);
    max-width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h_inicial_titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    text-align: center;
    color: var(--cor-branco);
}

.home_conteudo {
    background: radial-gradient(at 71.23868271756542% 64.02136035063948%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 70.31866964539668% 72.53587536283219%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 93.15579023466466% 88.00370981129258%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 1) 0%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 0) 100%), radial-gradient(at 44.415468078050814% 82.12011607008677%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 7.48099369139873% 25.302918707535238%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 91.91144252987132% 11.806729671508187%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 27.66249298185889% 3.065116008157287%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 20.878413812473575% 81.10919231188062%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 1) 0%, hsla(253.15068493150685, 78.49462365591397%, 18.23529411764706%, 0) 100%), radial-gradient(at 20.206140506923177% 9.431990233985887%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 94.81760190514615% 47.07790937072207%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%), radial-gradient(at 13.991316714400725% 62.436736081663334%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 26.67357056016413% 27.45124562355511%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 1) 0%, hsla(253.33333333333334, 84.37500000000001%, 12.549019607843137%, 0) 100%);
}

.h_tela1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h_lista {
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
}

.h_lista_item {
    width: 28%;
    min-height: 100%;
    border: solid 1px #fff;
    border-right: solid 3px #fff;
    border-bottom: solid 3px #fff;
    text-align: center;
    box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.2);
}

.h_img_item {
    height: 30%;
    width: 40%;
    padding: 20px;
}

.h_titulo_item {
    color: var(--cor-branco);
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    text-align: center;
    padding: 10px 0;
}

.h_texto_item {
    color: var(--cor-branco);
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}

.h_botao_item {
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-texto);
    color: #fff;
    padding: 15px;
    border: solid 1px #fff;
}

.h_botao_item:hover {
    background-color: var(--cor-carmesin);
}

.h_tela2 {
    height: 100vh;
}

.h_lista_fontes {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    margin-top: 40px;
}

.h_fonte_item {
    text-align: center;
    width: 20%;
}

.f_img_item {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    padding: 10px;
}

.f_titulo_item {
    color: var(--cor-branco);
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    padding: 10px 0;
    margin-bottom: 40px;
}

.f_botao_item {
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-texto);
    color: #fff;
    padding: 15px;
    border: solid 1px #fff;
}

.f_botao_item:hover {
    background-color: var(--cor-carmesin);
}

.f_inicial_titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    text-align: center;
    color: var(--cor-branco);
    padding: 20px 0;
}