.personagens_capa {
    background-image: url(https://i.redd.it/h1uqhqnq6fmd1.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--cor-branco);
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    display: flex;
    align-items: center;
    justify-content: center;
}

.personagens_tela_principal {
    background: -webkit-linear-gradient(90deg, #000000,#000040);
    background: linear-gradient(90deg, #000000,#000040);
    display: grid;
    grid-template-columns: 80% 20%;
}

.personagens_conteudo {}

.conteudo_npc > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.conteudo_titulo {
    color: var(--cor-branco);
    text-align: center;
    padding: 3em 0;
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
}

.cards_container {
    display: flex;
}

.card_conteudo {
    text-align: center;
    padding: 10px;
    border-bottom: solid #000000 3px;
    border-right: solid #000000 3px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.2);
    width: 220px;
}

.card_imagem {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.card_nome {
    color: var(--cor-branco);
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    padding: 1em 0;
    
}

.personagens_navegacao {
    color: var(--cor-branco);
}

.container_navegacao {
    position: sticky;
    top: 20px;
}

.filtro {
    padding-left: 4em;
    padding-top: 3em;
}

.filtro_titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
}

.item_filtro {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-textos);
    padding: 10px 5px;
}

.link_filtro {
    text-decoration: none;
    color: var(--cor-branco);
}