.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-preto);
    
}

.cabecalho_titulo_link {
    text-decoration: none;
    color: var(--cor-branco);
}

.cabecalho_titulo {
    color: var(--cor-branco);
    font-size: var(--tamanho-itens);
    padding: 10px;
    font-family: var(--fonte-titulo);
    font-weight: 500;

}

.cabecalho_itens_link {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--cor-branco);
    font-size: var(--tamanho-itens);
    font-weight: 500;
    font-family: var(--fonte-titulo);
}